{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myglobal.css' %}">
    <title>Testing</title>
</head>

<body>
    <!-- {% for x in fruits %}
    <h1>{{ x }}</h1>
    {% endfor %}
    <hr />
    {% for x in cars %}
    <h1>{{ x.brand }}</h1>
    <p>{{ x.model }}</p>
    <p>{{ x.year }}</p>
    {% endfor %}
    <hr />
    {% for x in members %}
    <h1>{{ x }}</h1>
    {% endfor %}
    <hr />
    {% for x in members reversed %}
    <h1>{{ x }}</h1>
    {% endfor %}
    <hr />
    {% for x in emptyObj %}
    <h1>{{x}}</h1>
    {% empty %}
    <h1>no member</h1>
    {% endfor %}
    <hr />
    {% for x in cars %}
    <h1>{{ forloop.counter }}</h1>
    {% endfor %}
    <hr />
    {% for x in cars %}
    <h1>{{ forloop.counter0 }}</h1>
    {% endfor %}
    <hr />
    {% for x in cars %}
    <h1 {% if forloop.first %} style="color: red;" {% endif %}>
        {{ x }}
    </h1>
    {% endfor %}
    <hr />
    {% for x in cars %}
    <h1 {% if forloop.last %} style="color: red;" {% endif %}>
        {{ x }}
    </h1>
    {% endfor %}
    <hr />
    <ul>
        {% for x in fruits %}
        <li>{{ forloop.revcounter }}</li>
        {% endfor %}
    </ul>
    <hr />
    <ul>
        {% for x in fruits %}
        <li>{{ forloop.revcounter0 }}</li>
        {% endfor %}
    </ul>
    <hr />
    <h1>Welcome Everyone</h1>
    {% comment %}
    <h1>Welcome ladies and gentlemen</h1>
    {% endcomment %}
    <hr />
    {% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}
    <hr />
    {% include "footer.html" %} -->

    <!-- <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in mymembers %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table border='1'>
        <tr>
            <th>Firstname</th>
        </tr>
        {% for x in firstName %}
        <tr>
            <td>{{ x }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in specificRow %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in filterWithAND %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in filterWithOR %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in filterWithQExpression %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr />
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
        {% for x in filterWithFieldLookups %}
        <tr>
            <td>{{ x.id }}</td>
            <td>{{ x.firstName }}</td>
            <td>{{ x.lastName }}</td>
        </tr>
        {% endfor %}
    </table> -->
    {% for x in fruits %}
    <p>{{ x }}</p>
    {% endfor %}

</body>

</html>